[submodule "shell-utils"]
	path = shell-utils
	url = https://github.com/aiinkiestism/shell-utils
[submodule "desktop-sample"]
	path = desktop-sample
	url = https://github.com/aiinkiestism/desktop-sample
